* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	padding: 10px;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.todo-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.input-field {
	font-size: 20px;
	padding: 5px;
	outline: none;
	border: 1px solid #111;
	border-radius: 5px;
}


.btn {
	margin: 5px;
	font-size: 12px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	border: 2px solid #30bced;
	background: #30bced;
}
.btn:hover {
	background: transparent;
	color: #30bced;
}

.btn-delete, .btn-cancel {
	background-color: #ff2828;
	border: 2px solid #ff2828;
}

.btn-delete:hover, .btn-cancel:hover {
	background: transparent;
	color: #ff2828;
}


table,
td,
th {
	margin: 10px;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

th {
	line-height: 50px;
	background-color: #313342;
	color: #fff;
}

tr:nth-child(odd) {
	background-color: #e7f6f2;
}

tr:nth-child(even) {
	background-color: #d1d1d1;
}

.data-container {
	display: flex;
}


/* Media Queries */

@media only screen and (max-width: 400px) {
	*{
		font-size: 10px;
	}
}