.App {
	text-align: center;
}

label {
  padding: 5px;
}

/* DARK MODE CSS */

#dark {
	background-color: #111825;
}

#dark h1 {
	color: #fff;
}

#dark .btn:hover {
	background-color: #fff;
}

#dark tr:nth-child(odd) {
	background-color: #d1d1d1;
}

#dark tr:nth-child(even) {
	background-color: #e2fff7;
}

#light table {
	background-color: #f2f3fd;
}

#dark table {
	background-color: #a1aaa8;
}

.switch {
	display: flex;
	justify-content: center;
  align-items: center;
}

#light .switch label {
  color: #111
}

#dark .switch label {
  color: #fff;
}